h1
{
    position: relative;
    font-family: arial;
    font-size: 18px;
}

h2
{
    position: relative;
    text-align: center;
    font-family: arial;
    font-size: 24px;
}

paragraph
{
    position: relative;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}
